.content {
  position: relative;
  width: 80%;
}

.content p {
  font-size: 3vw;
  line-height: 3.5vw;
  text-align: left;
  font-family: 'modelica-light', sans-serif;
}

.content strong {
  font-family: 'modelica-bold', sans-serif;
}

.btn1 {
  position: absolute;
  bottom: 20px;
  transform: scale(0.9);
}

.btn1 a {
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.btn1:hover a {
  transform: scale(1);
}

.btn1:before {
  content: '';
  width: 346px;
  height: 209px;
  background-image: url(../assets/images/line-btn1-3.webp);
  background-size: contain;
  position: absolute;
  display: block;
  right: -110%;
  top: -25%;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin-top: 30px;
  }
  .content p {
    font-size: 19px;
    line-height: 25px;
  }

  .btn1 {
    position: absolute;
    bottom: 5px;
    transform: scale(0.8) !important;
  }
}
