.content {
  position: relative;
  width: 80%;
}

.content p {
  font-size: 3vw;
  line-height: 3.5vw;
  text-align: left;
  font-family: 'modelica-light', sans-serif;
}

.content strong {
  font-family: 'modelica-bold', sans-serif;
}

.btn1 {
  position: absolute;
  bottom: -55%;
}

.btn1:before {
  content: '';
  width: 699px;
  height: 189px;
  background-image: url(../assets/images/line-btn1.webp);
  position: absolute;
  display: block;
  left: -105%;
  top: -55%;
}
